* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.background {
  background: url('imagens/img.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 40px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #000;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.login-box h2 {
  color: white;
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.switch {
  text-align: center;
  margin-top: 10px;
  color: #ccc;
}

.switch a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}
