body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('img.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.login-box {
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 10px #000;
  z-index: 1;
  position: relative;
  max-width: 400px;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
